.page {
    background-color: #00011A;
    font-family: Gilroy, sans-serif;
}

/* Блок с контактными данными */

.header__contacts-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 82px;

    font-size: 13px;
    line-height: 141%;
}

.header__contacts ul {
    list-style: none;
}

.header__contacts a {
    text-decoration: none;
    color: #FFFFFF;
}

.header__contacts-list_mail a {
    display: flex;
    align-items: center;
    gap: 4px;
}

.header__contacts-list_mail a::before {
    content: "\2709";
    font-size: 20px;
    color: #1078D7;
}

.header__contacts-list_phone a {
    display: flex;
    align-items: center;
    gap: 4px;
}

.header__contacts-list_phone a::before {
    content: "\260F";
    font-size: 20px;
    color: #1078D7;
}

.header__contacts-list_gps a {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header__contacts-list_back a {
    display: flex;
    align-items: center;
    gap: 6px;
}

.ico_gps {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.ico_back {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.header__contacts {
    border-bottom: 1px solid #FFFFFF26;
}

.header__contacts a {
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.5s ease;
}

.header__contacts:hover a {
    color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1239px) {
    .header__contacts {
        display: none;
    }
}

/* Блок с лого */

.header__navigation {
    margin: 18px 135px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header__main-nav-list {
    display: flex;
    flex-direction: row;
    gap: 56px;
}

.header__main-nav-list ul {
    list-style: none;
}

.header__main-nav-list a {
    text-decoration: none;
    color: #FFFFFF;
}

.header__main-btn {
    width: 122px;
    height: 36px;
    margin: 8px 20px;
    background-color: #1078D7;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    box-shadow: 0 3px 6px rgba(16, 120, 215, 0.4);
    cursor: pointer;
    user-select: none;
    outline: none;
}

.header__main-btn:hover {
    box-shadow: 0 5px 12px rgba(16, 120, 215, 0.7);
}

.header__main-btn:active {
    transform: scale(0.9);
    box-shadow: 0 2px 4px rgba(16, 120, 215, 0.9);
    transition-duration: 0.05s;
}

@media screen and (max-width: 767px) {
    .header__navigation {
        flex-direction: column; 
        align-items: center; 
        margin: 10px;
    }

    .header__main-nav-list {
        flex-direction: column; 
        gap: 20px; 
    }

    .header__main-btn {
        width: 100%;
        height: 48px; 
        margin: 10px 0; 
    }
}

.under_border:hover {
    border-bottom: 1px solid #ffffff;
}

/* Слайдер */

.slider {
  position: relative;
  width: 100%;
  max-width: 1048px;
  margin: 0 auto;
  overflow: hidden;
  min-height: 100px; 
}

.slide {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 20px;
  color: white;
  transition: transform 0.5s ease, opacity 0.5s ease;
  background-color: transparent;

}

.slide.slide-out {
  transform: translateX(-100%);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.slide.slide-in {
  transform: translateX(100%);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.slide.active {
  position: relative;
  transform: translateX(0);
  opacity: 1;
}


.slider-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 10px;
}


.slider-dot {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider-dot.active {
  background-color: #ffffff;
}

.slider__btn {
    width: 238px;
    height: 57px;
    border-radius: 12px;
    background-color: rgba(16, 120, 215, 1);
    color: #ffffff;
    margin-top: 40px;
}

.slider__btn:hover {
    box-shadow: 0 5px 12px rgba(16, 120, 215, 0.7);
}

.slider__btn:active {
    transform: scale(0.9);
    box-shadow: 0 2px 4px rgba(16, 120, 215, 0.9);
    transition-duration: 0.05s;
}


.slider_cont_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.slider_cont {
  width: 50%;
}

.slider_image {
  width: 40%;
  max-width: 400px;
  object-fit: contain;
  border-radius: 12px;
}
